header {
    display: flex;
}

h1, #headerContainer {
    display: inline-block;
}

#headerContainer {
    flex-grow: 1;
}

#semester, #logout {
    display: inline-block;
}

#logout, #login {
    float: right;
}