* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

html, body, #app {
	height: 100%;
}

.bg-light-red {
	background: #FF4457
}

.bg-light-white {
	background: #FCD0D0
}

.bg-light-coral {
	background: lightcoral
}

.bg-dark-grey {
	background: #2B2D42
}

.color-light {
	color: #EDF2F4
}